@media (max-width: 1600px) {
  header {
    .sub {
      padding: 0 0 5px 13%;
    }
  }

  .reviews-container {
    .reviews {
      &__to-left {
        left: 15%;
      }

      &__to-right {
        right: 15%;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    padding: 20px 5%;
    background-position: 80% 50%;

    .sub {
      width: 80%;
      padding-left: 0;
      align-self: flex-end;
      border-bottom: 1px solid white;
    }
  }

  .services-container {
    .row {
      > img.fix {
        object-position: 80% 50%;
      }
    }
  }

  .training-container {
    .row {
      .course {
        min-width: auto;
      }
    }
  }

  .reviews-container {
    .reviews {
      &__left-blur,
      &__right-blur {
        display: none;
      }

      &__to-left {
        left: 0;
      }

      &__to-right {
        right: 0;
      }
    }
  }

  .details-container {
    &.another-type {
      .column {
        .feedback {
          &__form {
            .base-btn {
              max-width: 420px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .blackout {
    .make-review {
      padding: 10px 6vw;

      .inputs {
        margin: 10px 0;
      }

      .buttons {
        margin-top: 0;
      }
    }
  }

  header {
    padding: 20px 0 20px 0;

    #burgerBtn {
      display: block;
    }

    .logo_m {
      display: block;
    }

    .nav {
      display: none;
    }

    .sub {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  }

  .about-us-container {
    .blocks {
      .block:hover {
        margin: 25px;
      }
    }
  }

  .services-container {
    .row {
      height: auto;

      .service {
        width: 100%;

        .base-btn {
          margin-top: 30px;
        }
      }

      > img {
        width: 100%;
      }
    }
  }

  .gallery-container {
    .column {
      .stable {
        height: auto;
        padding: 30px;

        &__main {
          height: 160px;
        }
      }
    }
  }

  .reviews-container {
    .reviews {
      &-slider__item {
        max-width: 90vw;
        height: 700px;
        padding: 40px;

        .content {
          justify-content: space-between;
          min-height: auto;
          height: 100%;
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.11);

          &__quotes {
            position: static;
            align-self: center;
            width: 40px;
          }
        }

        .bg-block {
          display: none;
        }
      }
    }
  }

}

@media (max-width: 900px) and (orientation: landscape) {
  .blackout {
    .make-review {
      .inputs {
        flex-wrap: nowrap;
      }

      textarea {
        min-height: auto;
      }
    }
  }

  header {
    .nav_m {
      .item {
        font-size: 4vh;
      }

      .services__item {
        font-size: 3vh;
      }
    }
  }

  .reviews-container {
    .reviews-slider__item {
      max-height: 640px;
    }
  }
}

@media (max-width: 900px) and (orientation: portrait) {
  header {
    .title {
      display: none;

      &_m {
        display: block;
      }
    }

    .sub {
      margin-bottom: 40px;
    }
  }

  .services-container {
    .row {
      .service {
        .dropper {
          width: 310px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .blackout {
    .make-review {
      padding: 10px 6vw;

      .inputs {
        margin: 10px 0;
      }

      textarea {
        min-height: 150px;
      }
    }
  }

  header {
    background-position: 65% 50%;

    .sub {
      width: 75%;
      font-size: 0.9rem;
    }
  }

  .about-us-container {
    box-sizing: border-box;
    padding: 20px 6.25vw;

    .title {
      font-size: 18px;
    }

    .info {
      margin-top: 15px;
      font-size: 16px;
    }

    .blocks {
      .block {
        flex-direction: row;
        height: 97px;
        width: 100%;
        max-width: 340px;
        padding: 5px;
        margin: 7px 0;

        &:hover {
          margin: 7px 0;
        }

        img {
          width: 37px;
          margin: 5px;
        }

        .text {
          text-align: left;
          margin-left: 10px;
          font-size: 13px;
        }
      }
    }
  }

  .services-container {
    .row {
      .service {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        min-height: 282px;

        &__title {
          flex-direction: row;
          align-items: center;
          font-size: 5.62vw;
          margin-left: 14px;

          img {
            margin: 3px 0 0 10px;
            width: 11px;
          }

          .dropper {
            left: -20px;
            transform: none;
            padding: 12px 20px 12px 12px;
            width: 84.37vw;

            &__text {
              font-size: 3.43vw;
            }
          }
        }

        &__detail {
          display: flex;
          text-align: left;
          font-size: 4.06vw;
          flex-wrap: wrap;

          div:first-child {
            font-weight: 450;
            margin-right: 3px;
          }

          img {
            display: none;
          }

          &::before {
            content: url('/ico/cube.svg');
            margin-right: 5px;
            transform: scale(.8);
          }

          &.invert-dot {
            &::before {
              filter: invert(1);
            }
          }
        }

        .base-btn {
          max-width: none;
          font-size: 2.5vw;
          padding: 2px 0;
        }
      }
    }
  }

  .training-container {
    padding: 40px 0;

    .row {
      .course {
        &__title {
          font-size: 5.62vw;
          padding: 20px 10px;
          min-height: 67px;
        }

        &-reasons {
          margin: 34px 0 0 0;

          &__title {
            text-align: center;
            padding-left: 0;
            font-size: 4.06vw;
          }

          &__item {
            .number {
              height: 48px;
              max-width: 48px;
              font-size: 6.56vw;
            }

            .text {
              font-size: 3.75vw;
            }
          }

          .base-btn {
            max-width: 189px;
            padding: 2px 0;
            font-size: 2.5vw;
            margin: 60px auto 0 auto;
          }
        }
      }
    }
  }

  .gallery-container {
    .column {
      .stable {
        &__main {
          .text {
            font-size: 5vw;
          }

          .inst-btn {
            font-size: 3.12vw;
            padding: 5px 25px;
            border-radius: 3px;

            img {
              width: 4.68vw;
            }
          }
        }
      }
    }
  }

  .reviews-container {
    padding: 30px 0;

    .reviews {
      &-slider__item {
        max-height: 460px;
        height: auto;

        .content {
          min-height: 260px;
          padding: 7.72%;

          &__text {
            font-size: 3.75vw;
          }

          &__quotes {
            width: 5.93vw;
          }

          &__data {
            margin-top: 15px;

            .author,
            .date {
              font-size: 3.12vw;
            }
          }
        }
      }

      &__to-left {
        transform: translateY(-50%) scale(.5);
      }

      &__to-right {
        transform: translateY(-50%) rotate(180deg) scale(.5);
      }
    }

    .base-btn {
      margin-top: 20px;
      max-width: 85.93vw;
      padding: 2px 0;
      font-size: 3.75vw;
    }
  }

  .details-container {
    .column {
      .contacts {
        padding: 10px;

        &__title {
          font-size: 5.62vw;
        }

        &__subtitle {
          font-size: 3.75vw;
        }

        &__text {
          font-size: 3.75vw;
        }

        &__social {
          text-align: center;
          margin-top: 10px;

          a {
            margin: 0 5px;

            img {
              width: 7.5vw;
            }
          }
        }
      }

      #map {
        height: 210px;
      }

      .feedback {
        &__title {
          font-size: 5.62vw;
        }

        &__desc {
          font-size: 3.75vw;
        }

        &__form {
          margin: 20px 20px 0 20px;

          div {
            max-width: 275px;
            margin: 10px 0;

            input {
              font-size: 4.37vw;
              padding: 6px 60px 6px 20px;
            }

            img {
              width: 3.12vw;
            }
          }

          .base-btn {
            box-sizing: border-box;
            font-size: 3.75vw;
            padding: 2px 0;
            margin-top: 15px;
          }
        }
      }
    }
  }

  footer {
    .container {
      .main {
        padding: 0;

        .half {
          min-width: auto;
          justify-content: center;

          &:last-child {
            margin-top: 10px;
          }

          .block {
            min-width: auto;
            max-width: auto;
            width: 43.75vw;

            &__title {
              font-size: 4vw;
              margin-bottom: 10px;
            }

            &__element {
              font-size: 4.3vw;
            }

            .base-btn {
              max-width: 25vw;
              font-size: 12px;
              right: 15px;
              bottom: 0;

              img {
                width: 10px;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}
