@font-face {
  src: url("/fonts/FuturaPT/FuturaPT-Light.ttf");
  font-family: FuturaPT;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// responsive dropper
.drop-container {
  position: relative;

  .dropper {
    position: absolute;
    visibility: hidden;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    padding: 12px;
    width: 208px;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s ease;
    background-color: #075057;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.22);

    &__element {
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }

  &:hover {
    .dropper {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }
}

// Main side of styles
header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background-image: url("/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  #burger-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nav {
    user-select: none;
    display: flex;
    align-items: center;

    .logo {
      margin: 0 30px;
    }

    .item {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: FuturaPT;
      font-size: 1.14rem;
      text-transform: uppercase;
      color: white;
      margin: 15px 14px 0 14px;

      img {
        margin: 0 0 0 4px;
        transition: transform .2s ease;
      }
    }

    .drop-container:hover {
      img {
        transform: rotate(-180deg);
      }
    }

    .line {
      flex-grow: 1;
      height: 2px;
      margin-top: 15px;
      background-color: white;
    }
  }

  .title {
    user-select: none;
    display: flex;
    margin: auto 0 auto 13%;

    .letters {
      font-family: Poppins;
      font-size: 11.5vw;
      line-height: 12vw;
      letter-spacing: 2.605vw;
      color: white;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &-gas {
      display: flex;
      flex-direction: column;
      margin-top: 11.5vw;
    }

    &_m {
      display: none;
      font-family: Poppins;
      font-size: 9.86vh;
      writing-mode: vertical-rl;
      text-orientation: upright;
      margin: auto 0;
      color: white;
      width: max-content;
      text-align: center;
    }
  }

  .sub {
    font-family: FuturaPT;
    font-size: 2.14rem;
    text-transform: uppercase;
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 5px 20%;
    margin-bottom: 40px;
    border-bottom: 2px solid white;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 20px 5%;
    background-position: 80% 50%;

    .sub {
      width: 80%;
      padding-left: 0;
      align-self: flex-end;
      border-bottom: 1px solid white;
    }
  }
}

@media (max-width: 900px) {
  header {
    #burger-btn {
      display: block;
    }

    .nav {
      display: none;
    }

    .sub {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 900px) and (orientation: portrait) {
  header {
    .title {
      display: none;

      &_m {
        display: block;
      }
    }

    .sub {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 425px) {
  header {
    background-position: 65% 50%;

    .sub {
      width: 70%;
      font-size: 0.8rem;
    }
  }
}
