@font-face {
  src: url("/fonts/FuturaPT/FuturaPT-Demi.ttf");
  font-family: FuturaPT;
  font-weight: 600;
}

@font-face {
  src: url("/fonts/FuturaPT/FuturaPT-Medium.ttf");
  font-family: FuturaPT;
  font-weight: 450;
}

@font-face {
  src: url("/fonts/FuturaPT/FuturaPT-Book.ttf");
  font-family: FuturaPT;
  font-weight: 300;
}

@font-face {
  src: url("/fonts/FuturaPT/FuturaPT-Light.ttf");
  font-family: FuturaPT;
  font-weight: 200;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.base-btn {
  cursor: pointer;
  border: 1px solid black;
  max-width: 315px;
  width: 100%;
  text-transform: uppercase;
  font-family: FuturaPT;
  font-size: 14px;
  line-height: 26px;
  color: black;
  padding: 9px 0;
  text-align: center;
  -webkit-transition: background-color .2s ease, color .2s ease;
  transition: background-color .2s ease, color .2s ease;
}

.base-btn:hover {
  background-color: black;
  color: white;
}

.base-btn.invert {
  background-color: black;
  color: white;
}

.base-btn.invert:hover {
  background-color: transparent;
  color: black;
}

.base-btn.white {
  border: 1px solid white;
  color: white;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.base-btn.white:hover {
  border: 1px solid black;
  background-color: black;
}

.drop-container {
  position: relative;
}

.drop-container .dropper {
  position: absolute;
  visibility: hidden;
  top: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  width: 208px;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s ease;
  transition: visibility 0s linear 0.2s, opacity 0.2s ease;
  background-color: #075057;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.22);
}

.drop-container .dropper__element {
  font-size: 1rem;
  line-height: 1.6rem;
}

.drop-container:hover .dropper {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background-image: url("/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

header #burgerBtn {
  display: none;
  position: absolute;
  width: 24px;
  top: 20px;
  right: 20px;
}

header .logo_m {
  display: none;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .nav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .logo {
  margin: 0 30px;
}

header .nav .item {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: FuturaPT;
  font-size: 1.14rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  margin: 15px 14px 0 14px;
}

header .nav .item img {
  margin: 0 0 0 4px;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

header .nav .drop-container:hover img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

header .nav .line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  margin-top: 15px;
  background-color: white;
}

header .nav_m {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(11, 41, 48, 0.81);
  -webkit-box-shadow: -4px 0px 7px rgba(0, 0, 0, 0.15);
          box-shadow: -4px 0px 7px rgba(0, 0, 0, 0.15);
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
  overflow: hidden;
  color: white;
}

header .nav_m img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
}

header .nav_m .item {
  position: relative;
  text-align: center;
  font-family: FuturaPT;
  font-weight: 450;
  font-size: 6vw;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 10px 0;
}

header .nav_m .item::after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

header .nav_m .services {
  padding: 5px 0 0 0;
}

header .nav_m .services__item {
  text-align: center;
  white-space: nowrap;
  font-family: FuturaPT;
  text-transform: none;
  font-size: 5vw;
  font-weight: 200;
  padding: 2px 0;
}

header .nav_m-show {
  width: 65%;
}

header .title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0 auto 13%;
}

header .title .letters {
  font-family: Poppins;
  font-size: 11.5vw;
  line-height: 12vw;
  letter-spacing: 2.605vw;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .title-gas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 11.5vw;
}

header .title_m {
  display: none;
  font-family: Poppins;
  font-size: 9.86vh;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  margin: auto 0;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

header .sub {
  font-family: FuturaPT;
  font-size: 2.14rem;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 0 5px 20%;
  margin-bottom: 40px;
  border-bottom: 2px solid white;
}

.about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 650px;
  font-family: FuturaPT;
  color: #454545;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

.about-us-container .title {
  text-align: center;
  font-weight: 600;
  font-size: 31px;
  line-height: 138%;
}

.about-us-container .info {
  max-width: 860px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  line-height: 138%;
}

.about-us-container .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.about-us-container .blocks .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  height: 250px;
  margin: 25px;
  padding: 0 20px;
  border: 1px solid black;
}

.about-us-container .blocks .block img {
  margin: 30px 0;
}

.about-us-container .blocks .block.filled {
  border: none;
  background-color: rgba(200, 216, 215, 0.63);
}

.about-us-container .blocks .block .text {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 122%;
  color: #323232;
}

.services-container {
  width: 100%;
}

.services-container .row {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 688px;
}

.services-container .row.fix {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.services-container .row .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-family: FuturaPT;
  color: #454545;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 0;
}

.services-container .row .service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 450;
  font-size: 33px;
  line-height: 36px;
  text-align: center;
  margin-top: auto;
}

.services-container .row .service__title img {
  margin: 18px 0;
}

.services-container .row .service__detail {
  font-family: FuturaPT;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  margin-top: 10px;
}

.services-container .row .service__detail img {
  margin-top: 20px;
}

.services-container .row .service .base-btn {
  margin: auto 0;
}

.services-container .row > img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.training-container {
  padding: 100px 0;
  width: 100%;
}

.training-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
}

.training-container .row .course {
  font-family: FuturaPT;
  color: #454545;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 30px 0;
  max-width: 1010px;
}

.training-container .row .course__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 33px;
  line-height: 112%;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 125px;
  padding: 20px 45px;
  letter-spacing: 0.07em;
}

.training-container .row .course-reasons {
  margin: 34px 0 0 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  max-width: 520px;
  min-width: 310px;
}

.training-container .row .course-reasons__title {
  font-weight: 450;
  font-size: 22px;
  line-height: 26px;
  padding-left: 24.23%;
  color: black;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}

.training-container .row .course-reasons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 42px;
}

.training-container .row .course-reasons__item .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  font-weight: 200;
  line-height: 26px;
  height: 80px;
  max-width: 80px;
  width: 100%;
}

.training-container .row .course-reasons__item .text {
  padding-left: 8.84%;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.training-container .row .course-reasons .base-btn {
  margin-top: 95px;
}

.training-container .row img {
  max-width: 100%;
  height: auto;
  margin: 30px 58px;
}

@media (max-width: 1024px) {
  header {
    padding: 20px 5%;
    background-position: 80% 50%;
  }
  header .sub {
    width: 80%;
    padding-left: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-bottom: 1px solid white;
  }
  .services-container .row > img.fix {
    -o-object-position: 80% 50%;
       object-position: 80% 50%;
  }
}

@media (max-width: 900px) {
  header {
    padding: 20px 0 20px 0;
  }
  header #burgerBtn {
    display: block;
  }
  header .logo_m {
    display: block;
  }
  header .nav {
    display: none;
  }
  header .sub {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .services-container .row {
    height: auto;
  }
  .services-container .row .service {
    width: 100%;
  }
  .services-container .row .service .base-btn {
    margin-top: 30px;
  }
  .services-container .row > img {
    width: 100%;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  header .nav_m .item {
    font-size: 4vh;
  }
  header .nav_m .services__item {
    font-size: 3vh;
  }
}

@media (max-width: 900px) and (orientation: portrait) {
  header .title {
    display: none;
  }
  header .title_m {
    display: block;
  }
  header .sub {
    margin-bottom: 40px;
  }
}

@media (max-width: 425px) {
  header {
    background-position: 65% 50%;
  }
  header .sub {
    width: 75%;
    font-size: 0.9rem;
  }
  .training-container {
    padding: 40px 0;
  }
  .training-container .row .course__title {
    font-size: 26px;
    padding: 20px 10px;
  }
  .training-container .row .course-reasons {
    margin: 34px 0 0 0;
  }
  .training-container .row .course-reasons__title {
    padding-left: 0;
  }
  .training-container .row .course-reasons__item .text {
    font-size: 18px;
  }
  .training-container .row .course-reasons .base-btn {
    margin: 95px auto 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */