* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background-image: url("/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
